<div class="row">
	<div class="col-xs-12 col-md-8 title"><%= @title %></div>
	<div class="col-xs-6 col-md-4">
		<%= link_to new_post_path, class: 'btn btn-success' do %>
			<span class='glyphicon glyphicon-plus-sign'></span> New post
		<% end %>
	</div>
</div>

<% @posts.each do |post| %>
	<div class="row <%= cycle("odd", "even") %>">
		<div class="col-xs-12 col-md-8"><%= post.title %></div>
		<div class="col-xs-6 col-md-4"><%= link_to "Read more...", post_path(post), :class => 'btn btn-default', :role => 'button' %></div>
	</div>
<% end %>

<% if @posts.empty? %>
	<em>No posts found</em>
<% end %>