<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
	<div class="container">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        	<span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
		<div class="navbar-header">
			<%= link_to "SimpleBlog", root_path, class: 'navbar-brand' %>
		</div>
		<div class="collapse navbar-collapse">
			<ul class="nav navbar-nav">
				<li><%= link_to "Home", home_path %></li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">Blog <b class="caret"></b></a>
					<ul class="dropdown-menu">
  						<li>
  							<%= link_to posts_path do %>
  								Posts <span class="badge"><%= @number_of_posts %></span>
  							<% end %>
  						</li>
  						<li>
  							<%= link_to posts_drafts_path do %>
  								Drafts <span class="badge float_"><%= @number_of_drafts %></span>
  							<% end %>
  						</li>
					</ul>
				</li>
				<li><%= link_to "About", about_path %></li>
			</ul>
			
			<%= form_tag search_path, method: "get", class: 'navbar-form navbar-left', role: 'search' do %>
				<div class="form-group">
					<%= text_field_tag :q, params[:q], class: 'form-control', placeholder: 'Search' %>
				</div>
				<button type="submit" class="btn btn-default">
					<span class="glyphicon glyphicon-search"></span>
				</button>
			<% end %>
		</div><!--/.nav-collapse -->
	</div>
</div>